@import Models.chapter2_models.Artist
@(artists: Vector[Artist])

@main("Artist Searching and basic server endpoint actions") {
    @* header for the page: *@
    @helpers.jumbo_header("Artist helper")

    @* Main content of the page *@
    <content>

        @* Part 1 of the chapter 2*@
        <section class="container" id="section1">
                <h2 style="font-weight: bold;"> Part 1: <u> Defining Actions </u> </h2>
                <div class="panel panel-default">

                    <div class="panel-heading" style="font-size: 1.6em; font-weight:bold;">
                        How to use the SearchApi:
                    </div>

                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><b style="font-size: 1.3em;">Search by name:</b>
                                <div class="well well-sm" style="margin-top: 1%;">
                                    <h5 class="text-info"> To search an artist by name, use the following
                                        query</h5>
                                    <p class="text-danger text-field"> https://mastering-play-for-scala.herokuapp.com/chapter2/artist/search?name=&lt;artist_name&gt; </p>
                                </div>
                            </li>

                            <li class="list-group-item"><b style="font-size: 1.3em;">Search by country:</b>
                                <div class="well well-sm" style="margin-top: 1%;">
                                    <h5 class="text-info"> To search an artist by country, the query is
                                        quite similar to the previous</h5>
                                    <p class="text-danger text-field"> https://mastering-play-for-scala.herokuapp.com/chapter2/artist/search?country=&lt;country_name&gt; </p>
                                </div>
                            </li>

                            <li class="list-group-item"><b style="font-size: 1.3em;">Search by name OR country:</b>
                                <div class="well well-sm" style="margin-top: 1%;">
                                    <h5 class="text-info"> To search an artist by name <b>OR</b> country,</h5>
                                    <p class="text-danger text-field"> https://mastering-play-for-scala.herokuapp.com/chapter2/artist/search?name=&lt;artist_name&gt&amp;country=&lt;country_name&gt; </p>

                                    <h5 class="text-info"> The order doesn't really matter</h5>
                                    <p class="text-danger text-field"> https://mastering-play-for-scala.herokuapp.com/chapter2/artist/search?country=&lt;country_name&gt;&amp;name=&lt;artist_name&gt; </p>
                                </div>
                            </li>

                            <li class="list-group-item"><b style="font-size: 1.3em;">Search by name AND country:</b>
                                <div class="well well-sm" style="margin-top: 1%;">
                                    <h5 class="text-info"> Just add the "and" parameter in the above query. Again remember, order doesn't matter.</h5>
                                    <p class="text-danger text-field"> https://mastering-play-for-scala.herokuapp.com/chapter2/artist/search?name=&lt;artist_name&gt;&amp;country=&lt;country_name&gt;&amp;and=true </p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3> <b> Available Artists for querying: </b> </h3>
                    </div>

                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Country </th>
                                </tr>
                            </thead>
                            <tbody>
                            @artists.map { artist =>
                                <tr>
                                    <td> @artist.name</td>
                                    <td> @artist.country</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>


        @* A horizontal rule to separate the sections *@
        <hr style="margin-top: 20px; color:#fff; box-shadow: 0px 0px 10px 0px #000000;">


        @* Part 2 of the chapter 2 *@
        <section id="section2" class="container">
            <h2 style="font-weight: bold;"> Part 2: <u> Actions with request parsers </u> </h2>

            @* A small form to accept some text values *@
            <div class="panel panel-default">

                <div class="panel-heading" style="font-size: 1.6em; font-weight:bold;">
                    Form to fetch some basic information by extending play's built-in parser:
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <form class="form-horizontal" method="post"
               action="@controllers.chapter2.routes.NewsletterSubscription.subscribe()">
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subscription" class="col-sm-2 control-label">Interval</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="subscription" placeholder="interval" name="interval">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Sign in</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>

            @* A form for saving the picture of the user *@
            @* basically to handle multipart form data *@

            <div class="panel panel-default">

                <div class="panel-heading" style="font-size: 1.6em; font-weight:bold;">
                    Form to fetch multipart form data for handling file based requests:
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <form class="form-horizontal" method="post"
                            action="@controllers.chapter2.routes.NewsletterSubscription.addUserPic()" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="inputPicture" class="col-sm-2 control-label">Profile Image</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control " id="inputPicture" placeholder="Picture" name="pic" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="container-fluid">
                            <div class="well well-sm">
                                <p class="text-primary">
                                    Due to Memory restrictions on the free account of heroku
                                    cloud server, we can store only one image at a time.
                                    Click the following button to see which image is stored
                                    currently.
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-md-offset-5 col-md-4">
                                    <a class="btn btn-success"
                                    href="@controllers.chapter2.routes.NewsletterSubscription.currentImage()">
                                        Currently stored image
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </section>

    </content>
}